extends layout
block head
  style.
    body{
      background:#ef6c00
    }
block content
  br
  h5 Please ask the Poll Creator for the POLL ID
  .container.white-text.center-align
    .row.violet.darken-2
      form.col.s12(action=`/poll/find_poll`,method='POST')
        .container.teal
          .row.z-depth-5(style="border:red solid; border-width:0px 1px 2px 1px ")
            .input-field.col.s8
              input#label_name.validate(name="poll_id", type='text', placeholder="Please enter the POLL ID ")
              label.black-text(for='label_title') Poll ID
        button.btn.waves-effect.center(type='submit') Submit
