extends layout
block head
  style.
    body{
      background:#4db6ac;
      overflow:hidden;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top:5%;
    }
    #outer{
      position:absolute;
      margin-top:70vh;
      width:200px;
      height:200px;
      background:#f44336;
      border-radius:50%;
      align-content:center;
    }
    #inner{
      position:absolute;
      left:-75px;
      width:350px;
      height:350px;
      border-radius:50%;
      background:transparent;
      visibility:hidden;
      transition: visibility 0.1s linear;
      transition: background 0.5s linear;
      align-content:center;
    }
    #outer:hover #inner{
      visibility:visible;
      background:#1976d2;
    }
    form{
      width:200px;
      margin-top:20px;
      margin-left:90px;
    }
    p{
      margin-left:20px;
    }
block content
  div.container.center-align.orange.z-depth-5(style="position:absolute; margin-top:20vh;")
    div
      br
      a.btn.waves-effect.teal(href="/poll/createPoll" )
        i.large.material-icons add_circle_outline
        |  Create A Poll
      hr
      a.btn.waves-effect.teal(href="/poll/insertLabel" )
        i.material-icons insert_chart
        |  Add Labels to a Ongoing Poll
      hr
      a.btn.waves-effect.red.pulse(href="/poll/vote" )
        i.large.material-icons fingerprint
        |  Vote
  div#outer
    div#inner
      form.center-align(action="/poll/findandshow" method="POST")
        input(type="text" placeholder="Poll Name / Case Sensitive" name="name" autocomplete="off")
        input.btn.waves-effect.teal(type="submit" value="Search")
    if err1
      br
      p.white-text #{err1}
      p.white-text #{err2}
  script.
    document.getElementById('main').style.height=window.screen.height+'px';
