doctype html
html
  head
    title Poll-Vault
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style.
      body{
        background:#000;
      }
      footer {
        padding: 1em;
        color: white;
        background-color: black;
        text-align: center;
        position:fixed;
        bottom:0;
        width:100%;
        margin-top:10px;
      }
      #b{
        visibility:hidden;
      }
    block head
  body
    #main(syle="position:relative")
      if errors
        .modal#modal1
          .modal-content
            each error,i in errors
              p.red-text #{error.msg}
              hr
          .modal-footer(style="display:flex")
            a.modal-close.modal-action.waves-effect.waves-red.btn-flat Close
        button#b(data-target="modal1" class="modal-trigger btn") Modal
      .container
        block content
      br
      br
    div#footer
      footer Copyright &copy; Poll-Vault
    script(src='http://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js')
    script.
      $(document).ready(function(){
        $('.modal').modal();
        $('.modal').modal('open');
      });
  
